:root {
  --bg-blob-top: url('./assets/blob-top.svg') top -182px right -176px no-repeat;
  --bg-blob-bottom: url('./assets/blob-bottom.svg') bottom -117px left -149px
    no-repeat;
}

body {
  background: var(--bg-blob-top), var(--bg-blob-bottom);
}

/* div {
  box-shadow: inset 0 0 3px green;
} */

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* Intro view */
.intro-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-container {
  align-items: center;
  gap: calc((7 / 16) * 1em);
}

.intro .btn {
  margin-top: calc((22 / 16) * 1em);
}

/* Quiz view */
.quiz-view {
  display: flex;
  justify-content: center;
  padding-block: 1em;
}

.quiz-container {
  display: flex;
  flex-direction: column;
}

.question {
  border-bottom: 1px solid #dbdef0;
  padding-block: 1em;
}

.question-text {
  font-family: var(--ff-primary);
  font-size: 1rem;
  color: #293264;
  margin-bottom: calc((12 / 16) * 1em);
}

.question-choices {
  display: flex;
  flex-wrap: wrap;
  gap: calc((13 / 16) * 1em);
}

.choice {
  font-family: var(--ff-secondary);
  font-size: calc((10.24 / 16) * 1rem);
  color: #293264;
  max-width: calc((150 / 16) * 1em);
}

.choice.selected {
  background-color: hsla(230, 61%, 90%, 100%);
  border: 1px solid hsla(230, 61%, 90%, 100%);
  pointer-events: none;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check-answers {
  align-self: center;
  width: max-content;
  margin-top: calc((20 / 16) * 1em);
}

.score-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.score-display p {
  font-size: calc((12 / 16) * 1rem);
  font-weight: 700;
}
